/* Task 4: Change Bootstrap primary button */

.btn-primary {
    background-color: #e91e63;
    border-color: #e91e63;
}

.btn-primary:hover {
    background-color: #c2185b;
    border-color: #c2185b;
}


/* Task 5: Theme Switcher */

.theme-box {
    background-color: white;
    color: black;
    transition: 0.3s;
}


/* When checkbox is checked */
#theme:checked ~ .theme-btn {
    background-color: white;
    color: black;
}


/* Dark theme */
#theme:checked ~ .theme-box {
    background-color: #212529;
    color: white;
}